.Home {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  opacity: 90%;
}

/* background image by Pedro Lasra */
/* https://unsplash.com/photos/Nyvq2juw4_o */